{% extends "vp/account_base.html" %}
{% load static from staticfiles %}
{% block title %}Register{% endblock %}
{% block head %}

<script>
    function href_to_login()
    {
        window.location.href='{% url 'voiceprint:login' %}';
    }
    function submit_reg()
    {
        var csrf_token=$("input[name='csrfmiddlewaretoken']").val();
        $.ajaxSetup({
            dataType: "json",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token );
            }
        });
        //要提交的信息
        var infos={};
        var name=$("#name").val();
        var email=$("#email").val();
        var password=$("#password").val();
        var repassword=$("#repassword").val();
        var phone=$("#phone").val();
        infos["name"]=name;
        infos["email"]=email;
        infos["password"]=password;
        infos["repassword"]=repassword;
        infos["phone"]=phone;

        var json_str = JSON.stringify(infos);

        $.ajax({
            type: "POST",
            url: "/vp/register/",
            data: {json_str: json_str},
            success: function (result) {
                if (result.code == 0) {
                    handle_result_from_json(result);
                }
                else {
                    var message_json=$.parseJSON(result.message);
                    var message_arr=[];
                    var split="<br/>";
                    $.each(message_json, function (k, v) {
                        message_arr.push(v);
                    });
                    var msg_str=message_arr.join(split);
                    show_alert("警告",msg_str);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.table([{
                    "错误类型": jqXHR,
                    "错误信息": textStatus,
                    "http状态": errorThrown
                }])
            }
        });
    }
    function handle_result_from_json(result)
    {
        show_alert("title",result.message);
    }
</script>
{% endblock %}
{% block ac_content %}
    <div style="width: 80%;padding-left: 10%;">
        <div class="weui_cells_title" style="color:rgb(173,128,125)">Name</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="text" name="name" id="name" style="color:black">
                </div>
            </div>
        </div>
    </div>
    <div style="width: 80%;padding-left: 10%;">
        <div class="weui_cells_title" style="color:rgb(173,128,125)">Email</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input"  name="email" id="email" type="text" style="color:black">
                </div>
            </div>
        </div>
    </div>

    <div style="width: 80%;padding-left: 10%;">
        <div class="weui_cells_title" style="color:rgb(173,128,125)">Password</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input"  name="password" id="password" type="password" style="color:black">
                </div>
            </div>
        </div>
    </div>

    <div style="width: 80%;padding-left: 10%;">
        <div class="weui_cells_title" style="color:rgb(173,128,125)">Re-Password</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="password" name="repassword" id="repassword" style="color:black">
                </div>
            </div>
        </div>
    </div>

    <div style="width: 80%;padding-left: 10%;">
        <div class="weui_cells_title" style="color:rgb(173,128,125)">Phone Number</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" name="phone" id="phone" type="tel" style="color:black">
                </div>
            </div>
        </div>
    </div>

    <div style="width: 80%;padding-left: 10%;margin-top: 5%">
       <button  id="registerBtn" class="weui_btn weui_btn_primary" style="background:rgb(0,160,255)" onclick="submit_reg()">Register</button>
    </div>
    <div style="width: 90%;text-align: right;margin-top: 3%;font-size: 14pt;margin-bottom: 10%">
        <a href="javascript:void(0);" style="padding-right: 0;" onclick="href_to_login()">Login</a>
    </div>
{% endblock %}